h3 {
	margin: 0;
	text-transform: none;
	color: SlateBlue;
}

h4 {
	margin: 0;
	text-transform: none;
	color: white;
}

p {
	font-weight: 100;
}

.masthead {
	padding-top: 10%;
}

.masthead .brand-heading {
	text-align: left;
	text-transform: none;
	margin:0;
}

.masthead .intro-text {
	text-align: left;
	font-weight: 300;
}

.navbar-brand {
	color: blue;
	font-size: 20px;
}

.navbar-btn {
	border: 0;
	padding: 10px;
	color: white;
}

.navbar-btn:hover {
	border: 0;
	cursor: pointer;
	color: white;
}

.navbar-btn:focus, .navbar-btn:active {
	border: 0;
	color: white;
	outline: none;
}	

.dropdown-menu {
	background-color: black;
}

.easing {
	width:100%;
	z-index:101;
}

.slide {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: hidden;
}

.section-header {
	top: 0;
}

.block {
	position: absolute;
	z-index: 999;
}

.left-align {
	text-align: left;
}

.project-logo {
	left: 0;
	max-width: 200px;
	height: auto;
}

.box {
	position:absolute;
	top: 0;
	left:0;
	height:100%;
	background: SlateBlue;
	z-index: -1;
}

.skip-btn {
	transform: translateY(-100px);
}

#astronaut {
	width: 250px;
	height: auto;
}

#about {
}

#contact {
	background: url("../img/skyline.png") no-repeat center;
	background-color: black;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%; 
}

#info {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	padding: 20px;
	z-index: 9999;
}

#bridge {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

@media (max-width: 768px) {
	#me {
		display:none;
	}
	
	.slide {
		position: relative;
	}
}

@media (max-width: 992px) {
	#about, #projects, #projects2 {
		font-size: 16px;
	}
	
	#me {
		width: 80%;
		height: auto;
	}
	
	#astronaut {
		height: auto;
		width: 80%;
	}
	
	.block {
		width: 50%;
		height: auto;
	}
	 
}