html {
  height: 100%;
  overflow-x: hidden;
}

body { 
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	font-family: Segoe UI,Helvetica,Calibri,Arial,sans-serif;
	display: inline-block;
}

h1 {
	color: #555;
}

#header {
	height: 10vh;
	font-size: 3vh;
	text-align: center;
}

#content {
	margin: 3vh;
	height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#content p {
	max-width: 50%;
	font-size: 4vh;
	text-align: center;
	color: #777;
}

#image {
	height: 25vh;
	text-align: center;
}

#sections {
	margin: 3vh;
	height: 13vh;
	text-align: center;
	/*border: 1px solid red;*/
}

#megif {
	max-height: 100%;
	position: relative;
	left: 0;
	top: 0;
}

.sectionButtons {
	max-height: 100%;
	border-radius: 50%;
	margin: 0 1vw 0 1vw;
	opacity: 0.4;
}

.sectionButtons:hover {
	transform: scale(1.2, 1.2);
}

@media screen and (max-width: 480px) {
    #content p {
		max-width: 75%;
    }
}